python-dotenv
langchain
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
ipykernel
#chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
beautifulsoup4
streamlit
langchain-groq
fastapi
uvicorn
langserve
sse_starlette
duckduckgo-search

